firstSeleniumTest/obj/Debug/net9.0/refint/firstSeleniumTest.dll
firstSeleniumTest/obj/Debug/net9.0/ref/firstSeleniumTest.dll
firstSeleniumTest/obj/Debug/net9.0/firstSeleniumTest.sourcelink.json
firstSeleniumTest/obj/Debug/net9.0/firstSeleniumTest.pdb
firstSeleniumTest/obj/Debug/net9.0/firstSeleniumTest.dll
firstSeleniumTest/obj/Debug/net9.0/firstSeleniumTest.AssemblyInfoInputs.cache
firstSeleniumTest/obj/Debug/net9.0/firstSeleniumTest.AssemblyInfo.cs
firstSeleniumTest/bin/Debug/net9.0/nunit_random_seed.tmp
firstSeleniumTest/bin/Debug/net9.0/firstSeleniumTest.pdb
firstSeleniumTest/bin/Debug/net9.0/firstSeleniumTest.dll
firstSeleniumTest/bin/Debug/net9.0/nunit_random_seed.tmp
.vs/ProjectEvaluation/seleniumforpractice.metadata.v9.bin
.vs/ProjectEvaluation/seleniumforpractice.projects.v9.bin
.vs/ProjectEvaluation/seleniumforpractice.strings.v9.bin
.vs/SeleniumForPractice/DesignTimeBuild/.dtbcache.v2
.vs/SeleniumForPractice/FileContentIndex/7e2de4fd-4812-4af8-913f-a8d6ebe4c5df.vsidx
.vs/SeleniumForPractice/FileContentIndex/678a74f3-879d-4a7b-b68a-96da8b35d8dc.vsidx
.vs/SeleniumForPractice/FileContentIndex/59ac83e3-d901-45d2-ae14-c76703c584b5.vsidx
.vs/SeleniumForPractice/FileContentIndex/ed8db9df-ea8c-460b-bb20-cac344c5653c.vsidx
.vs/SeleniumForPractice/v17/.futdcache.v2
.vs/SeleniumForPractice/v17/.suo
.vs/SeleniumForPractice/v17/DocumentLayout.backup.json
.vs/SeleniumForPractice/v17/DocumentLayout.json
.vs/SeleniumForPractice/v17/TestStore/0/000.testlog
.vs/SeleniumForPractice/v17/TestStore/0/002.testlog
.vs/SeleniumForPractice/v17/TestStore/0/testlog.manifest
firstSeleniumTest/bin/Debug/net9.0/firstSeleniumTest.deps.json
firstSeleniumTest/bin/Debug/net9.0/firstSeleniumTest.dll
firstSeleniumTest/bin/Debug/net9.0/firstSeleniumTest.pdb
firstSeleniumTest/bin/Debug/net9.0/FluentAssertions.dll
firstSeleniumTest/bin/Debug/net9.0/nunit_random_seed.tmp
firstSeleniumTest/obj/firstSeleniumTest.csproj.nuget.dgspec.json
firstSeleniumTest/obj/project.assets.json
firstSeleniumTest/obj/project.nuget.cache
firstSeleniumTest/obj/Debug/net9.0/firstSeleniumTest.AssemblyInfo.cs
firstSeleniumTest/obj/Debug/net9.0/firstSeleniumTest.AssemblyInfoInputs.cache
firstSeleniumTest/obj/Debug/net9.0/firstSeleniumTest.assets.cache
firstSeleniumTest/obj/Debug/net9.0/firstSeleniumTest.csproj.AssemblyReference.cache
firstSeleniumTest/obj/Debug/net9.0/firstSeleniumTest.csproj.CoreCompileInputs.cache
firstSeleniumTest/obj/Debug/net9.0/firstSeleniumTest.csproj.FileListAbsolute.txt
firstSeleniumTest/obj/Debug/net9.0/firstSeleniumTest.dll
firstSeleniumTest/obj/Debug/net9.0/firstSeleniumTest.pdb
firstSeleniumTest/obj/Debug/net9.0/firstSeleniumTest.sourcelink.json
firstSeleniumTest/obj/Debug/net9.0/ref/firstSeleniumTest.dll
firstSeleniumTest/obj/Debug/net9.0/refint/firstSeleniumTest.dll
firstSeleniumTest/bin/Debug/net9.0/nunit_random_seed.tmp
